---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
    namespace: flux-system
  install:
    createNamespace: true
  interval: 1m0s
  targetNamespace: kube-prometheus-stack
  valuesFrom:
  - kind: ConfigMap
    name: kube-prometheus-stack-config-values
