---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: wakeword
controllers:
  wakeword:
    containers:
      app:
        image:
          repository: docker.io/rhasspy/wyoming-openwakeword
          tag: 1.10.0
service:
  app:
    controller: wakeword
    ports:
      http:
        port: 10400
persistence:
  data:
    type: emptyDir
    globalMounts:
      - path: /data
        readOnly: false
  # TODO: install custom model
  custom:
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 256Mi
    globalMounts:
      - readOnly: true
