---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: wakeword

controllers:
  wakeword:
    pod:
      annotations:
        k8s.v1.cni.cncf.io/networks: kube-system/multus-iot
    containers:
      app:
        image:
          repository: docker.io/rhasspy/wyoming-openwakeword
          tag: 2.1.0
        args:
          - --custom-model-dir
          - /custom

service:
  app:
    controller: wakeword
    ports:
      http:
        port: 10400

persistence:
  data:
    type: emptyDir
    globalMounts:
      - path: /data
        readOnly: false

  custom:
    enabled: true
    type: hostPath
    hostPath: /var/tank/wakeword
    globalMounts:
      - path: /custom
