---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: handbrake

controllers:
  handbrake:
    containers:
      app:
        image:
          repository: docker.io/zocker160/handbrake-nvenc
          tag: "1.10.2"
        env:
          PUID: "1000"
          PGID: "1000"
        resources:
          limits:
            nvidia.com/gpu: "1"

defaultPodOptions:
  runtimeClassName: nvidia

service:
  app:
    controller: handbrake
    ports:
      http:
        port: 3000

ingress:
  app:
    className: nginx
    hosts:
      - host: handbrake.cjf.sh
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - handbrake.cjf.sh

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 256Mi
    globalMounts:
      - path: /config
        readOnly: false

  output:
    enabled: true
    type: hostPath
    hostPath: /var/tank/makemkv/output
    globalMounts:
      - path: /output

  cache:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 2Gi
    globalMounts:
      - path: /dev/shm
