---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: pinchflat

controllers:
  pinchflat:
    containers:
      app:
        image:
          repository: ghcr.io/kieraneglin/pinchflat
          tag: v2025.6.6

service:
  app:
    controller: pinchflat
    ports:
      http:
        port: 8945

ingress:
  app:
    className: nginx
    hosts:
      - host: yt.cjf.sh
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - yt.cjf.sh

persistence:
  config: &p
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 32Mi
    globalMounts:
      - path: /config

  downloads:
    enabled: true
    type: hostPath
    hostPath: /var/tank/media/yt
    globalMounts:
      - path: /downloads
