---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/alertmanagerconfig_v1alpha1.json
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  route:
    receiver: hass
    repeatInterval: 12h
    routes:
      - receiver: "null"
        matchers:
          - name: alertname
            value: Watchdog
            matchType: =
      - receiver: "null"
        matchers:
          - name: alertname
            value: InfoInhibitor
            matchType: =
      - receiver: hass
        matchers:
          - name: severity
            value: critical
            matchType: =
  receivers:
    - name: "null"
    - name: hass
      webhookConfigs:
        - urlSecret:
            name: monitoring-configs
            key: hass_url
          sendResolved: true
