---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
controllers:
  karakeep:
    type: statefulset
    containers:
      karakeep:
        image:
          repository: ghcr.io/karakeep-app/karakeep
          tag: "0.29.1"
        env:
          NEXTAUTH_URL:  "https://bookmark.cjf.sh"
          DATA_DIR: /data
          MEILI_ADDR: "http://karakeep-meilisearch:7700"
          BROWSER_WEB_URL: http://karakeep-chrome:9222
          DISABLE_PASSWORD_AUTH: "true"
          OAUTH_ALLOW_DANGEROUS_EMAIL_ACCOUNT_LINKING: "true"
          OAUTH_PROVIDER_NAME: OIDC
          OAUTH_SCOPE: openid email profile
          OAUTH_WELLKNOWN_URL: https://auth.cjf.sh/.well-known/openid-configuration

        envFrom:
          - secretRef:
              name: "karakeep"
          - secretRef:
              name: "karakeep-meilesearch"
          - secretRef:
              name: karakeep

        probes:
          liveness:
            enabled: true
            spec:
              initialDelaySeconds: 10
              httpGet:
                path: /api/health
                port: 3000
          readiness:
            enabled: true
            spec:
              initialDelaySeconds: 10
              httpGet:
                path: /api/health
                port: 3000

    statefulset:
      volumeClaimTemplates:
        - name: data
          storageClass: zfs-dataset
          accessMode: ReadWriteOnce
          size: 2Gi
          globalMounts:
            - path: /data

  chrome:
    containers:
      chrome:
        image:
          repository: gcr.io/zenika-hub/alpine-chrome
          tag: 124

        args:
          - --remote-debugging-address=0.0.0.0
          - --remote-debugging-port=9222
          - --headless
          - --hide-scrollbars
          - --disable-gpu
          - --disable-dev-shm-usage

        probes:
          liveness:
            enabled: true
            spec:
              httpGet:
                path: /
                port: 9222
          readiness:
            enabled: true
            spec:
              httpGet:
                path: /
                port: 9222

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            add:
            - SYS_ADMIN
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
          runAsGroup: 1000

        resources:
          requests:
            memory: 100Mi
            cpu: 500m
          limits:
            memory: 1Gi
            cpu: 1000m

service:
  karakeep:
    controller: karakeep
    ports:
      http:
        port: 3000
  chrome:
    controller: chrome
    ports:
      http:
        port: 9222

secrets:
  karakeep:
    enabled: true
    stringData:
      NEXTAUTH_SECRET: "{{ randAlphaNum 48 }}"
  meilesearch:
    enabled: true
    stringData:
      MEILI_MASTER_KEY: "{{ randAlphaNum 30 }}"

ingress:
  karakeep:
    className: nginx
    hosts:
      - host: bookmark.cjf.sh
        paths:
          - path: /
            service:
              identifier: karakeep
              port: http
    tls:
      - hosts:
          - bookmark.cjf.sh

persistence:
  chrome-tmp:
    type: emptyDir
    advancedMounts:
      chrome:
        chrome:
          - path: /tmp
            readonly: false

meilisearch:
  auth:
    existingMasterKeySecret: "{{ .Release.Name }}-meilesearch"
  environment:
    MEILI_ENV: production
  persistence:
    enabled: true
    size: 1Gi
    storageClass: zfs-dataset
