---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
controllers:
  task:
    containers:
      app:
        image:
          repository: ghcr.io/dohsimpson/tasktrove
          tag: v0.11.1
        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
service:
  app:
    controller: task
    type: LoadBalancer
    ports:
      http:
        port: 3000
ingress:
  app:
    className: nginx
    hosts:
      - host: "todo.cjf.sh"
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - todo.cjf.sh

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /app/data
