---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: booklore

controllers:
  app:
    type: statefulset
    containers:
      app:
        image:
          repository: ghcr.io/booklore-app/booklore
          tag: v1.18.5
        env:
          USER_ID: "0"
          GROUP_ID: "0"
          BOOKLORE_PORT: "6060"
        envFrom:
          - secret: booklore
        probes:
          readiness: &probe
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/healthcheck
                port: 6060
              initialDelaySeconds: 60
              periodSeconds: 60
              timeoutSeconds: 10
              failureThreshold: 5
          liveness: *probe

  db:
    type: statefulset
    containers:
      db:
        image:
          repository: lscr.io/linuxserver/mariadb
          tag: 11.4.8
        env:
          PUID: "1000"
          PGID: "1000"
        envFrom:
          - secret: booklore
        probes:
          readiness:
            enabled: true
            custom: true
            spec:
              exec:
                command:
                  - "mariadb-admin"
                  - "ping"
                  - "-h"
                  - "localhost"
              initialDelaySeconds: 5
              periodSeconds: 5
              timeoutSeconds: 5
              failureThreshold: 10

service:
  app:
    controller: app
    ports:
      http:
        port: 6060

  db:
    controller: db
    ports:
      http:
        port: 3306

ingress:
  app:
    className: nginx
    annotations:
      # proxy-body-size is set to 0 to remove the body limit on file uploads
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
    hosts:
      - host: books.cjf.sh
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - books.cjf.sh

persistence:
  data: &pv
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 5Gi
    advancedMounts:
      app:
        app:
          - path: /app/data

  books:
    <<: *pv
    size: 50Gi
    advancedMounts:
      app:
        app:
          - path: /books

  bookdrop:
    <<: *pv
    size: 10Gi
    advancedMounts:
      app:
        app:
          - path: /bookdrop

  db:
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 5Gi
    advancedMounts:
      db:
        db:
          - path: /config
