---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: mealie

controllers:
  mealie:
    containers:
      app:
        image:
          repository: ghcr.io/mealie-recipes/mealie
          tag: v3.11.0
        env:
          ALLOW_SIGNUP: "false"
          PUID: "1000"
          PGID: "1000"
          TZ: America/New_York
          BASE_URL: https://recipes.cjf.sh
        envFrom:
          - secret: mealie

service:
  app:
    controller: mealie
    ports:
      http:
        port: 9000

ingress:
  app:
    className: nginx
    hosts:
      - host: recipes.cjf.sh
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - recipes.cjf.sh

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /app/data
