---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
fullnameOverride: pocket-id

config:
  publicAppUrl: https://auth.cjf.sh

image:
  repository: ghcr.io/pocket-id/pocket-id
  pullPolicy: IfNotPresent
  tag: "v1"

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: auth.cjf.sh
      paths:
        - path: /
          pathType: Prefix

  tls:
    - hosts:
        - auth.cjf.sh

persistence:
  enabled: true
  storageClass: zfs-dataset
  accessMode: ReadWriteOnce
  size: 5Gi
