---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: pocket-id

controllers:
  pocket-id:
    type: statefulset
    containers:
      app:
        image:
          repository: ghcr.io/pocket-id/pocket-id
          tag: "v2.0.2"
        env:
          APP_URL: https://auth.cjf.sh
          PGID: "1000"
          PUID: "1000"
          LOG_JSON: "true"
          TRUST_PROXY: "true"
          ANALYTICS_DISABLED: "true"
        envFrom:
          - secretRef:
              name: pocket-id

service:
  app:
    controller: pocket-id
    ports:
      http:
        port: 1411

ingress:
  app:
    className: nginx
    hosts:
      - host: auth.cjf.sh
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - auth.cjf.sh

persistence:
  app:
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /app/data
        readOnly: false
