---
controllers:
  frigate:
    containers:
      app:
        image:
          repository: ghcr.io/blakeblackshear/frigate
          tag: stable-tensorrt
        envFrom:
          - secretRef:
              name: frigate
        resources:
          limits:
            nvidia.com/gpu: "1"
            squat.ai/coral: 1

defaultPodOptions:
  runtimeClassName: nvidia

service:
  app:
    controller: frigate
    ports:
      http:
        port: 5000

ingress:
  app:
    className: nginx
    hosts:
      - host: frigate.cjf.sh
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - frigate.cjf.sh

persistence:
  config:
    type: secret
    name: frigate
    advancedMounts:
      frigate:
        app:
          - path: /config/config.yaml
            subPath: config

  storage:
    enabled: true
    type: hostPath
    hostPath: /var/tank/frigate/storage
    globalMounts:
      - path: /media/frigate

  tmpfs:
    type: emptyDir
    medium: Memory
    globalMounts:
      - path: /tmp/cache

  cache:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 2Gi
    globalMounts:
      - path: /dev/shm
