---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openebs
  namespace: openebs
spec:
  interval: 30m
  chart:
    spec:
      chart: openebs
      version: 4.1.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: openebs
        namespace: flux-system
  values:
    engines:
      replicated:
        mayastor:
          enabled: false
    localpv-provisioner:
      hostpathClass:
        isDefaultClass: true
        basePath: "/var/tank"
        reclaimPolicy: Retain
