---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
fullnameOverride: prometheus
grafana:
  enabled: false # Manage grafana using their helm chart
prometheusOperator:
  fullnameOverride: prometheus
prometheus:
  prometheusSpec:
    # These values will cause prometheus to scrape all monitors/probes/rules in any namespace
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    ruleSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: zfs-dataset
          resources:
            requests:
              storage: 10Gi
alertmanager:
  alertmanagerSpec:
    alertmanagerConfiguration:
      name: alertmanager
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: zfs-dataset
          resources:
            requests:
              storage: 1Gi
