---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: flux-system
spec:
  chart:
    spec:
      chart: grafana
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana
      version: 10.4.x
  install:
    createNamespace: true
  interval: 1m0s
  targetNamespace: monitoring
  valuesFrom:
    - kind: ConfigMap
      name: grafana-config-values
