---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: flux-system
spec:
  chart:
    spec:
      chart: grafana
      interval: 5m0s
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      version: 8.10.x
  install:
    createNamespace: true
  interval: 30m0s
  targetNamespace: monitoring
  dependsOn:
    - name: kube-prometheus-stack
    - name: ingress-nginx
    - name: tailscale
  values:
    fullnameOverride: grafana
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: &ds Prometheus
            type: prometheus
            url: http://prometheus-prometheus:9090
            jsonData:
              httpMethod: POST
              manageAlerts: true
              prometheusType: Prometheus
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: "default"
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
    dashboards:
      default:
        coredns:
          gnetId: 14981
          datasource: *ds
        node-exporter-full:
          gnetId: 1860
          datasource: *ds
        external-dns:
          gnetId: 15038
          datasource: *ds
        flux2:
          gnetId: 16714
          datasource: *ds
        blocky:
          url: https://raw.githubusercontent.com/0xERR0R/blocky/refs/heads/main/docs/blocky-grafana.json
    persistence:
      enabled: true
