---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - grafana.cjf.sh
    - monitor.cjf.sh
    - monitoring.cjf.sh
  tls:
    - hosts:
        - grafana.cjf.sh
        - monitor.cjf.sh
        - monitoring.cjf.sh

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-prometheus.monitoring:9090
        isDefault: true
      - name: Alertmanager
        type: alertmanager
        url: http://prometheus-alertmanager.monitoring:9093
        jsonData:
          implementation: prometheus
          handleGrafanaManagedAlerts: true

sidecar:
  dashboards:
    enabled: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: "default"
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        updateIntervalSeconds: 600
        allowUpdates: true
        options:
          path: /var/lib/grafana/dashboards/default
          foldersFromFilesStructure: true

dashboards:
  default:
    coredns:
      gnetId: 14981
      datasource: &ds Prometheus
    node-exporter-full:
      gnetId: 1860
      revision: 41
      datasource: *ds
    flux2:
      gnetId: 16714
      datasource: *ds
    blackbox-exporter:
      gnetId: 13659
      datasource: *ds
    blocky:
      gnetId: 13768
      datasource: *ds
