---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: paperless

controllers:
  paperless:
    containers:
      app:
        image:
          repository: ghcr.io/paperless-ngx/paperless-ngx
          tag: "2.20.1"
        env:
          PAPERLESS_REDIS: redis://redis:6379
          PAPERLESS_DBHOST: db-rw
          PAPERLESS_DBPASS:
            valueFrom:
              secretKeyRef:
                name: db-app
                key: password

service:
  app:
    controller: paperless
    ports:
      http:
        port: 8000

ingress:
  app:
    className: nginx
    hosts:
      - host: paper.cjf.sh
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - paper.cjf.sh

persistence:
  data: &p
    type: persistentVolumeClaim
    storageClass: zfs-dataset
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /usr/src/paperless/data
        readOnly: false

  media:
    <<: *p
    globalMounts:
      - path: /usr/src/paperless/media
        readOnly: false

  export:
    <<: *p
    globalMounts:
      - path: /usr/src/paperless/export
        readOnly: false

  consume:
    <<: *p
    globalMounts:
      - path: /usr/src/paperless/consume
        readOnly: false
