---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      interval: 5m0s
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      version: 70.3.x
  install:
    createNamespace: true
  interval: 30m0s
  targetNamespace: monitoring
  values:
    fullnameOverride: prometheus
    alertmanager:
      enabled: true
    grafana:
      enabled: false # Manage grafana using their helm chart
    prometheus:
      prometheusSpec:
        # These values will cause prometheus to scape all monitors/probes/rules in the namespace
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
