---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 10m0s
  provider: generic
  ref:
    tag: 80.9.2
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
