---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
  namespace: kube-prometheus-stack
spec:
  interval: 10m0s
  provider: generic
  ref:
    tag: 77.12.x
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
