---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 10m0s
  provider: generic
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
  ref:
    tag: 81.6.2
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
