---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
global:
  fullnameOverride: piper
controllers:
  piper:
    containers:
      app:
        image:
          repository: ghcr.io/linuxserver/piper
          tag: 2.2.1
        env:
          - name: PUID
            value: 1000
          - name: PGID
            value: 1000
          - name: TZ
            value: Etc/UTC
          - name: PIPER_VOICE
            value: en_US-lessac-medium
service:
  app:
    controller: piper
    ports:
      http:
        port: 10200
persistence:
  data:
    type: emptyDir
    globalMounts:
      - path: /config
        readOnly: false
