---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
fullnameOverride: blackbox-exporter
replicas: 1

securityContext:
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    add:
      - "NET_RAW"

config:
  modules:
    http_2xx:
      prober: http
      timeout: 5s
      http:
        follow_redirects: true
        preferred_ip_protocol: ip4
    icmp:
      prober: icmp
      timeout: 5s
      icmp:
        preferred_ip_protocol: ip4
    tcp_connect:
      prober: tcp
      timeout: 5s
      tcp:
        preferred_ip_protocol: ip4

serviceMonitor:
  enabled: true
prometheusRule:
  enabled: true
  rules:
    - alert: BlackboxProbeFailed
      expr: probe_success == 0
      for: 5m
      labels:
        severity: critical
      annotations:
        summary: |-
          The host {{ $labels.target }} is currently unreachable
